﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body>
    <h1>Careers</h1>
    <hr />
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pellentesque diam volutpat commodo sed. Auctor neque vitae tempus quam pellentesque nec nam. Semper risus in hendrerit gravida rutrum quisque non. Posuere morbi leo urna molestie at elementum eu. Ipsum dolor sit amet consectetur adipiscing. Id venenatis a condimentum vitae sapien pellentesque habitant morbi tristique. Aliquam ut porttitor leo a diam sollicitudin tempor id. Nibh praesent tristique magna sit amet purus. Magnis dis parturient montes nascetur. Pretium fusce id velit ut. Eleifend quam adipiscing vitae proin sagittis nisl. Placerat in egestas erat imperdiet sed euismod nisi porta. Orci phasellus egestas tellus rutrum. Amet dictum sit amet justo donec enim diam vulputate ut. Purus in massa tempor nec. Sagittis nisl rhoncus mattis rhoncus urna. In ornare quam viverra orci. Viverra justo nec ultrices dui.</p>
</body>
