﻿@{
    ViewData["Title"] = "Home";
}
<head>
    <title>Bob's Shirt Emporium</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> #Now is using bootstrap from wwwroot/lib/twitter-bootstrap/css/bootstrap.css and shared/layout.cshtml*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    @*<link rel="stylesheet" href="~/css/site.css" /> #Now is referencing site.css from layout.cshtml*@
</head>
<body>
    <div class="page-header text-center">
        <h1>
            Welcome to Bob's Shirt Emporium<br />
        </h1>
    </div>
    <div id="demo" class="carousel slide" data-ride="carousel" style="width: 720px; margin-left: auto; margin-right: auto;">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner" style="width:720px; margin:auto;">
            <div class="carousel-item active">
                <img src="~/img/lithplayerformat.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="~/img/gizformat.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="~/img/jaysformat.jpg" class="d-block w-100">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <div class="row mt-3">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div class="media">
                        <img class="mr-3" alt="Bootstrap Media Preview" src="https://www.layoutit.com/img/sports-q-c-64-64-8.jpg" />
                        <div class="media-body">
                            <h5 class="mt-0">
                                Welcome to our family
                            </h5>
                            <div>
                                Bob's Shirt Emporium is a growing online t-shirt business that is catering the clothes industry to all people of all walks of life. Now, more than ever, we've decided to bring the clothes to your front step so that you don't have to leave the comfort and safety of your home during these struggling times.
                            </div>
                            <div class="media mt-3">
                                <a class="pr-3" href="#"><img alt="Bootstrap Media Another Preview" src="https://www.layoutit.com/img/sports-q-c-64-64-2.jpg" /></a>
                                <div class="media-body">
                                    <h5 class="mt-0">
                                        Brand new website and shop!
                                    </h5>Now featuring out brand new website and shop custom tailored for all of your needs! With this new setup, it allows us to quickly cater to your shopping habits and make shopping experience quick, seamless, and enjoyable! If you have any problems, questions, or requests please reach out through our Contact page!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="jumbotron card card-block">
                <h2>
                    Ready to put on the best shirt of your life?
                </h2>
                <p>
                    Let's get you into the perfect shirt for any season and any event! Don't worry about size, if it's not the perfect fit then send it back free of charge! Browse our collection of hundreds shirts, all with at least 4 sizes to choose from!
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="#">Find Your Shirt Now</a>
                </p>
            </div>
        </div>
    </div>
</body>
