﻿@model BobsShirtEmporium.Models.ShirtsSearchViewModel 

@{
    ViewData["Title"] = "Shirts";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <h1>Shirts for Sale</h1>

    @*<p>
        <a asp-action="Create">Create New</a>
    </p>*@

    <form asp-controller="Shirts" asp-action="Index" method="get">
        <div class="form-group row">
            <div class="col-xs-4 mx-2">
                <input class="form-control" type="text" name="searchString" />
            </div>
            <div class="col-xs-3 mx-2">
                <select class="form-control" name="styleString" asp-for="ShirtStyle" asp-items="Model.Styles">
                    <option value="">All</option>
                </select>
            </div>
            <div class="col-xs-3 mx-2">
                <select class="form-control" name="colorString" asp-for="Color" asp-items="Model.Colors">
                    <option value="">All</option>
                </select>
            </div>
            <button class="btn btn-primary my-2 my-sm-0" type="submit">
                <i class="fas fa-search"></i> Search
            </button>
        </div>
    </form>

    <div>
        @foreach(var shirt in Model.Shirts)
        {
        <div class="row">
            <div class="col" style="border: 2px solid lightgray; margin: 5px 5px 5px 5px; width: 100%">
                <div class="container mx-auto d-flex">
                    <div class="row" style="margin: 10px 10px 10px 10px;">
                        <img class="mr-auto rounded" src="~/img/@shirt.ImagePath" style="width: 400px; height: 400px; margin: 10px 10px 10px 0px;" />
                    </div>
                    <div class="mx-5">
                        <br />
                        <h4>@shirt.Title</h4>
                        <p>Color: @shirt.Color</p>
                        <p>Style: @shirt.Style</p>
                        <p>Size: @shirt.Size</p>
                        <p>Price: @shirt.Price.ToString("C")</p>
                        <button class="btn btn-primary"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</body>

